:root{
    --text-front-color: #FBFBFB;
    --text-back-color: #1A1A1D;
    --card-front-color: #3C3D37;
    --card-back-color: #697565;

body {
    background: url('img/baixados.jpg');
    font-family: bai jamjuree;
}

footer {
    color: var(--text-back-color);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

#container{
    display: flex;
}

.cartao{
    margin: 1rem 1rem;
    height: 15rem;
    flex-grow: 1;
    flex-basis: calc(33% - 0.6rem);
}

.cartao__conteudo{
    text-align: center;
    height: 100%;
    background-color: var(--card-front-color);
}

.cartao__conteudo h3{
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    color: var(#FBFBFB);
    border: 1px solid var(--text-front-color);
}

.cartao__conteudo__pergunta p {
    color: var(--text-front-color);
    font-weight: 600;
}

.cartao__conteudo__resposta p {
    color: var(--text-back-color);
    font-weight: 700;
}

footer p{
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}