body {
    background-color: burlywood;
    font-family: bai jamjuree;
}

footer {
    background-color: crimson;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

#container{
    display: flex;
}

.cartao{
    margin: 1rem 1rem;
    background-color: gray;
    height: 15rem;
    flex-grow: 1;
    flex-basis: calc(33% - 0.6rem);
}

.cartao__conteudo{
    text-align: center;
    height: 100%;
}

.cartao__conteudo h3{
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    background-color: blueviolet;
}

footer p{
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}